@tailwind base;
@tailwind components;
@tailwind utilities;

.dialog {
  display: flex;
  justify-content: space-between;
}

.speech-bubble {
  padding: 12px;
  background: #EEEEEE;
  color: #000000;
  position: relative;
  margin: 20px 0;
}

.speech-bubble:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0px;
  border-color: #EEEEEE;
}

.speech-bubble.speech-bubble-right {
  margin-right: 20px;
  border-radius: 8px 0 8px 8px;
  width: max-content;
  margin-left: auto;
}

.speech-bubble.speech-bubble-right:after {
  border-width: 0 0 24px 20px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -19px;
}

.speech-bubble.speech-bubble-left {
  margin-left: 20px;
  border-radius: 0 8px 8px 8px;
  width: max-content;
}

.speech-bubble.speech-bubble-left:after {
  border-width: 0 20px 24px 0;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -19px;
}

.speech-bubble.speech-bubble-dark {
  color: #ffffff;
  background: #2c2e63;
}

.speech-bubble.speech-bubble-dark:after {
  border-color: #2c2e63;
}
